.dropDownWrapper {
  margin-top: 1.5rem;
  padding: 0% !important;
  min-width: 100% !important;
  .DropDown {
    margin-top: 0.3rem;
    font-size: 0.8rem !important;
    width: 100% !important;
  }
  .option {
    font-size: 0.8rem;
  }
}
