.homeWrapper {
  background-color: #ffffff;
  .homePadding {
    margin-top: 1rem;
    padding: 2rem 3rem;
  }
  .homeCategoryText {
    color: #000000 !important;
    font-size: 1.7rem !important;
    font-weight: 300 !important;
  }
  .column {
    margin-top: 30px;
    padding: auto;
  }
}
