.categoriesWrapper {
  .category_box {
    background: #f8f8f8;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(52, 137, 207);
      .category_box_items {
        .category_box_content {
          .categoryText {
            color: white !important;
          }
        }
        .category_number {
          .categoryNumber {
            color: white;
          }
        }
      }
    }
    .category_box_items {
      display: flex;
      justify-content: space-between;
      .category_box_content {
        line-height: 2;
        margin-top: 1.5rem;

        .categoryText {
          font-size: 16px !important;
          font-weight: 400;
          color: #333 !important;
        }
      }
      .category_number {
        .categoryNumber {
          color: #909090;
          font-size: 48px;
          opacity: 0.18;
          font-weight: 500;
        }
      }
    }
  }
}
