.inputFieldWrapper {
  margin-top: 1.5rem;
  min-width: 100% !important;

  .input {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.3rem;
    min-width: 100% !important;
  }
  .textArea {
    font-size: 0.8rem;

    padding: 0.4rem 0.3rem;
  }
}
