.inputFieldWrapper {
  margin-top: 1.5rem;

  .input {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.3rem;
  }
  .textArea {
    font-size: 0.8rem;

    padding: 0.4rem 0.3rem;
  }
}
