.inputFieldWrapper {
  margin-top: 1.5rem;
  .label {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .optional {
    margin-left: 0.3rem;
    font-weight: 350;
    font-size: 0.7rem;
  }
  .input {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.3rem;
  }
}
