.applyJobWrapper {
  margin-top: 3rem;

  .jobDescription {
    background-color: #ffffff;
    border-radius: 5px;
    .TitleContainer {
      padding: 1rem 2rem;
      .title {
        font-weight: 500;
      }
    }

    .detailsContainer {
      padding: 1rem 2rem;
      .jobName {
        font-weight: 500;
      }
      .tagContainer {
        margin-bottom: 0.5rem;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        .date {
          font-size: 13px;
        }
      }
      .jobNameText {
        font-size: 0.9rem !important;
        color: #000000;
      }
      .summary {
        margin-top: 1.5rem;
        // width: 85%;
        text-align: left;
      }
      .attributes {
        margin-top: 1rem;
      }
      .attrHeading {
        color: #000000;
        font-size: 0.8rem;
        display: block;
      }
      .attrText {
        margin-left: 1.5rem;
      }
    }
  }

  .jobApply {
    margin-top: 0.2rem;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 0px !important;
    .TitleContainer {
      padding: 1rem 2rem;
      margin-bottom: 0px !important;

      .title {
        margin-bottom: 0px !important;
        font-weight: 500;
      }
      .whatText {
        margin-bottom: 0px !important;
        font-weight: 400;
        font-size: 0.8rem;
        margin-top: 0px !important;
      }
    }

    .messageContainer {
      padding: 0.5rem 2rem;
    }
    .messageTitle {
      display: block;
      font-size: 14px;
      color: #000000;
    }
    .messageText {
      display: block;
      font-size: 13px;
      font-weight: 400;
    }
    .Attachments {
      display: block;
      font-size: 14px;
      color: #000000;
      margin-top: 2rem;
    }
    .dragger {
      margin-top: 1rem;
      border: 1px dashed #65a242;
    }
    .dragText {
      font-size: 0.8rem;
    }
    .draggerText {
      display: block;
      font-size: 13px;
      font-weight: 400;
      margin-top: 1rem;
    }
    .buttonContainer {
      padding: 0.5rem 2rem;
      .submitButton {
        border-radius: 25px;
        margin-bottom: 1rem;
      }
    }
  }

  .Divider {
    margin: 0px !important;
  }
  .tag {
    border-radius: 25px;
    color: #60707b;
  }
  .moreSymbol {
    color: #008000 !important;
  }
}
