$small: 700px;
.header {
  margin-right: 0px !important;
  padding: 0px 15px !important;
  background-color: #ffffff !important;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2) !important;
  margin: 1px 0px;
  z-index: 2;
  .logo {
    color: black;
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 300;
    margin-left: 1rem;
    width: 234px;
  }
  .navLink {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
  .navLinkItems {
    float: left;
    margin-left: 1rem;
  }
  .divider {
    height: 100%;
  }

  @media screen and (max-width: $small) {
    .navLink {
      display: none;
    }
  }
}
.Sider {
  margin-right: 0px !important;
  padding: 0px 15px !important;
  background-color: #ffffff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  z-index: 1;
  .simpleSideLink {
    font-size: 0.8rem;
    width: 100%;
    margin: 0 !important;
    // background-color: red;
  }
  .simpleSideLink:hover {
    border-right: 3px solid #1890ff;
    background-color: #e6f7fe;
  }

  .boldSideLink {
    font-size: 0.8rem;
    font-weight: 800;
    margin: 0 !important;
  }
}
